*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header{
    width: 100%;
    background-color: #fff;
    
}
.topnav{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0 2px 16px rgba(0, 0, 0, 0.3);
}
.navbar{
    display: flex;
    list-style-type: none;
    margin-right: 30px;
}
.navbar a{
    padding: 20px;
    text-decoration: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #000;
    font-size: 15px;
}
.logo{
    padding: 25px;
    font-family: sans-serif;
    letter-spacing: 3.9;
    
}
.subnav{
    display: flex;
    margin-right: 45px;
}
.imgbag{
    padding-right: 18px;
    cursor: pointer;
}
.submenu{
    background: #000;
}
.submenu a{
    color: #fff;
    padding: 10px;
    display: inline-block;
    text-decoration: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 15px;
}
.theme{
    display: flex;
    justify-content: space-between;
    column-gap: 50px;
    padding: 0 5%;
}
.themeheader{
    margin-top: 9%;
}
.themeheader h1{
    font-family: sans-serif;
    font-size: 40px;
}
.subheader{
    
    margin-top: 9%;
    max-width: 100%;
}
.subheader p{
    font-family: sans-serif;
    font-size: 16px;
    line-height: 1.8;
}
.boxcontainer{
    display: flex;
    margin-top: 30px;
}
.box1 a{
    padding: 10px;
    text-decoration: none;
    color: #fff;
    display: inline-block;
    background-color: #000;
    font-family: sans-serif;
    font-size: 15px;
}
.box2 a{
    padding: 9.5px;
    text-decoration: none;
    color: #000;
    border: 1px solid #000;
    display: inline-block;
    background-color: #fff;
    font-family: sans-serif;
    font-size: 15px;
}
.box2{
    padding-left: 23px;
}
.subtheme{
    width: 100%;
    background-color: whitesmoke;
    height: 800px;
    margin-top: 10%;
    
}
.boxcontainer_2{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.longbox{

    /* width: 100%; */
    display: flex;
    /* flex-basis: 32%; */
    justify-content: space-around;
    
    position: relative;
    margin-top: 2%;
    margin-bottom: 30px;
    overflow: hidden;
    z-index: 900;
}
.longbox img{
    /* position: absolute; */
    width: 22.6em;
    border-radius: 5%;
    display: block;
    object-fit: cover;
}
.inboxcolon{
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.inboxtext h1{
    text-align: center;
    font-family: sans-serif;
    letter-spacing: 1.5;
}
.inboxtext p{
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 13.8px;
}
.downfooter{
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.footerlogo{
    padding: 25px;
    font-family: sans-serif;
    letter-spacing: 3.9;
    text-align: center;
}
.footer{
    background-color: whitesmoke;
}
.footernav{
    list-style: none;
    display: flex;
    padding: 30px;
}
.footernav1{
    padding: 20px;
}
.footernav2{
    padding: 20px;
}

.footernav a{
    text-decoration: none;
    color: #000;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 20px;
}
.endtheme{
    background: linear-gradient(to top, rgba(0, 0, 0,0.5)50%, rgba(0, 0, 0,0.5)50%), url('./pexels-chan-walrus-958545.jpg');
    background-repeat: no-repeat;
    height: 60%;
    background-size: cover;
}
.endtheme h1{
    padding-top: 5%;
    font-family: sans-serif;
    font-size: 34px;
    letter-spacing: 1.8;
    text-align: center;
    margin-bottom: 15px;
    color: #fff;
}
.endtheme p{
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #fff;
}
.order{
    text-align: center;
    padding: 16px;
    margin-bottom: 5%;
}
.order a{
    color: #fff;
    background-color: #000;
    display: inline-block;
    padding: 7px 30px;
    text-decoration: none;
}
.copy p{
    font-family: sans-serif;
    font-size: 14px;
    color: #000;
    text-align: center;
}
/*Mobile View*/
@media screen and (max-width: 850px){
    .subnav{
        display: none;
    }
    .longbox img{
        width: 17rem;
    }
    .inboxtext p{
        font-size: 15px;
        text-align: center;
    }
    .subtheme{
        height: 400px;
    }
    .endtheme{
        margin-top: 30%;
    }
}
@media screen and (max-width: 800px) {
    .topnav{
        flex-direction: column;
        
    }
    .endtheme h1{
        font-size: 28px;
    }
    .endtheme p{
        font-size: 13px;
        text-align: center;
    }
}
@media screen and (max-width: 768px) {
    .theme{
        flex-direction: column;
        align-items: center;
    }
    .themeheader{
        text-align: center;
    }
    .boxcontainer{
        display: flex;
        justify-content: center;
    }
    .subheader{
        text-align: center;
    }
    .boxcontainer_2{
        flex-direction: column;
        width: 100%;
        border-radius: 0%;
        align-items: center;
        height: 100%;
    }
    
    .subnav{
        display: none;
    }

    .endtheme p{
        text-align: center;
    }
    .footer{
        margin-top: 10%;
    }
    .inboxtext{
        display: none;
    }
}
@media screen and (max-width: 500px) {
    .topnav{
        flex-direction: column;
    }
    

}
@media screen and (max-width: 600px) {
    .topnav{
        flex-direction: column;
    }
    .endtheme h1{
        font-size: 28px;
    }
    .endtheme p{
        font-size: 13px;
        text-align: center;
    }
}





